.container{
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  align-content: center;
  justify-content: center;
  border: 2px solid blue;
}

.square{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.square h2{
  align-self: center;
}


.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
